.item{
    width: 300px;
    margin: 50px auto;
    border: 3px solid black;
    padding: 10px 10px;
}
h1{
    margin-left: 30px;
    color: rgb(20, 16, 16);
}
p{
    color: brown;
    font-size: 14px;
}
a{
    color: green;
    font-size: 14px;
    margin-left: 89px;
    text-decoration: none;
}
a:hover{
    color:rgb(33, 49, 7);
    text-decoration: underline;
}